<div class="cinza-claro" style="min-height: 100%;">
    <div class="cinza-medio">
        <h1 class=" texto-branco w-90p">RESGATE</h1>
    </div>
    <div class="cinza-escuro"><br></div>
    <div class="mt-25">
        <h2 class="texto-cinza-claro w-90p">
            DADOS DO INVESTIMENTO
        </h2>
        <div class="container branco w-90p borda pt-20p">
            <div>
                <div class="pl-24p">
                    <p>Nome</p>
                    <p>{{parentData.nome}}</p>
                </div>
            </div>
            <div>
                <div class="borda-esquerda pl-24p">
                    <p>Saldo total disponível</p>
                    <p>{{parentData.saldoTotalDisponivel | currency:'BRL':true}}</p>
                </div>
            </div>
            <div>
                <div class="borda-esquerda pl-24p">
                    <p>Valor total a resgatar</p>
                    <p>{{resgateTotal | currency:'BRL':true}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-25">
        <h2 class="texto-cinza-claro w-90p">RESGATE DO SEU JEITO</h2>
        <div class="borda w-90p">
            <mat-table [dataSource]="parentData.acoes" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="acao">
                    <mat-header-cell *matHeaderCellDef> AÇÃO </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="saldoAcumulado">
                    <mat-header-cell *matHeaderCellDef> SALDO ACUMULADO </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{(element.percentual*parentData.saldoTotalDisponivel)/100 | currency:'BRL':true}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="saldoTotalDisponivel">
                    <mat-header-cell *matHeaderCellDef> VALOR A RESGATAR </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <input 
                        currencyMask 
                        [(ngModel)]="element.valor" 
                        placeholder="R$ 0,00" 
                        [id]="element.id"
                        (keyup)="atualizaValoresResgatar(element.valor, element.id)"/>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="container mt-25">
        <button (click)="retornarPagina()" class="botao-vermelho m-auto">CANCELAR</button>
        <button (click)="abrirModal()" class="botao-azul m-auto" [disabled]="!resgateTotal" [ngClass]="{disabled: resgateTotal == 0}">CONFIRMAR RESGATE</button>
    </div>
</div>